body {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    padding: 5rem;
}

#image-input::file-selector-button {
    background-color: #54544e;
    color: white;
    transition-duration: 0.4s;
}

#image-input::file-selector-button:hover {
    background-color: grey;
    color: black;
}
  